{% assign bundle_levels = product.metafields.custom.bundle_levels.value %}
{% comment %} {% for level in bundle_levels %}
  <pre>{{ level | json }}</pre>
{% endfor %} {% endcomment %}
<div id="bundle-builder">
  <form method="post" action="/cart/add">
    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    {% for level in bundle_levels %}
      <div class="bundle-level" data-min="{{ level.min }}" data-max="{{ level.max }}">
        <h3>{{ level.pdp_level_title }}</h3>
        
        {% for v in level.level_products.value %}
          <label>
            {{ v.product.title }} – {{ v.title }}
            <input type="number" name="variant_{{ v.id }}" min="0" value="0" data-price="{{ v.price | money_without_currency | replace: ',', '.' }}">
            <span class="price">{{ v.price | money }}</span> ⃣⃣⃣⃣⃣⃣
            </label>
        {% endfor %}
      </div>
    {% endfor %}

    <button type="submit">Add Bundle to Cart</button>
  </form>
</div>

<script>
  const form = document.querySelector('#bundle-builder form');

  form.addEventListener('submit', function (e) {
  e.preventDefault();
    console.log('Form');
    
  const levels = document.querySelectorAll('.bundle-level');
  const components = [];

  levels.forEach(level => {
    const inputs = level.querySelectorAll('input[type="number"]');
    inputs.forEach(input => {
      const quantity = parseInt(input.value, 10);
      if (quantity > 0) {
        components.push({
          id: 'gid://shopify/ProductVariant/' + input.name.replace('variant_', ''),
          quantity,
        });
      }
    });
      console.log('Components for level:', components);
  });

  const uniqueKey = Date.now().toString();
  fetch('/cart/add.js', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      items: [
        {
          id: '{{ product.variants.first.id }}', // Bundle product variant
          quantity: 1,
          properties: {
            _bundle_unique_key: uniqueKey, // Unique key to identify the bundle
            _components: JSON.stringify(components),
            _bundle_price: "81.00",
            _bundle_master: "true"
          }
        }
      ]
    }),
  })
  .then((res) => res.json())
  .then((data) => {
    console.log('Bundle added:', data);
    window.location.href = '/cart';
  })
  .catch((err) => {
    console.error('Error adding bundle:', err);
  });
});

</script>

